<launch>
  <rosparam param="ticks_meter">110</rosparam>
  <rosparam param="encoder_min">-32767</rosparam>
  <rosparam param="encoder_max">32767</rosparam>
  <rosparam param="base_width">0.193</rosparam>
  <rosparam param="use_laser_scan_matcher">false</rosparam>

  <node pkg="differential_drive" type="diff_tf.py" name="diff_tf" output="screen">
  </node>

  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
  </node>

  <node pkg="differential_drive" type="pid_velocity.py" name="lpid_velocity">
       <remap from="wheel" to="lwheel"/>
       <remap from="motor_cmd" to="lmotor"/>
       <remap from="wheel_vtarget" to="lwheel_vtarget"/>
       <remap from="wheel_vel" to="lwheel_vel"/>
       <rosparam param="Kp">200</rosparam>
       <rosparam param="Ki">200</rosparam>
       <rosparam param="Kd">0</rosparam>
       <rosparam param="out_min">-127</rosparam>
       <rosparam param="out_max">127</rosparam>
       <rosparam param="rate">30</rosparam>
       <rosparam param="timeout_ticks">4</rosparam>
       <rosparam param="rolling_pts">5</rosparam>
  </node>
  <node pkg="differential_drive" type="pid_velocity.py" name="rpid_velocity">
       <remap from="wheel" to="rwheel"/>
       <remap from="motor_cmd" to="rmotor"/>
       <remap from="wheel_vtarget" to="rwheel_vtarget"/>
       <remap from="wheel_vel" to="rwheel_vel"/>
       <rosparam param="Kp">200</rosparam>
       <rosparam param="Ki">200</rosparam>
       <rosparam param="Kd">0</rosparam>
       <rosparam param="out_min">-127</rosparam>
       <rosparam param="out_max">127</rosparam>
       <rosparam param="rate">30</rosparam>
       <rosparam param="timeout_ticks">4</rosparam>
       <rosparam param="rolling_pts">5</rosparam>
  </node>
</launch>
