<launch>
  <arg name="use_rviz" default="false" />

  #### publish static transforms ###########

  <node pkg="tf" type="static_transform_publisher" name="map_to_world"
    args="0.0 0.0 0.0 0.0 0.0  0.0 /world /map 40" />

  <arg name="publish_covariance" default="false"/>

  <param name="/stamped_vel" value="false"/>

  #### Start LIDAR ###########

  <include file="$(find ydlidar)/launch/lidar.launch" />

  <group if="$(arg publish_covariance)">
    <param name="laser_scan_matcher_node/do_compute_covariance" value="1"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true"/>
    <param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true"/>
  </group>

  #### Start MPU 9255 driver ###########

  <node pkg="i2c_imu" type="i2c_imu_node" name="i2c_imu" output="screen">
      <rosparam file="$(find i2c_imu)/param/imu.yaml"/>
  </node>

  #### Start proximity scanning ###########

  <node pkg="gbot" type="distance_scanner.py" name="proximity_scanner" output="screen" required="true">
  </node>

  #### Start wheel encoders ###########

  <node pkg="gbot" type="encoder.py" name="wheel_encoder" output="screen" required="true">
  </node>

  #### Include differential drive encoders ###########
  <include file="$(find gbot)/launch/differential-drive.launch" />

  #### Start pilot program ###########

  <node pkg="gbot" type="robot_pilot.py" name="robot_pilot" output="screen" >
  </node>

  #### Start display ###########

  <param name="font" value="$(find gbot)/font/minecraftia.ttf" />
  <node pkg="gbot" type="display.py" name="display" output="screen" >
  </node>


  #### Start camera ###########
  <include file="$(find gbot)/launch/camera.launch" />

  

</launch>
