<launch>
  #### Start display ###########

  <include file="$(find gbot)/launch/display.launch" />

  #### Start LIDAR ###########

  <include file="$(find gbot)/launch/lidar.launch" />

  #### Start MPU 9255 driver ###########

  <include file="$(find gbot)/launch/imu.launch" />

  #### Start proximity scanning ###########

  <node pkg="gbot" type="distance_scanner.py" name="proximity_scanner" output="screen" required="true">
  </node>

  #### Start wheel encoders ###########

  <node pkg="gbot" type="encoder.py" name="wheel_encoder" output="screen" required="true">
  </node>

  #### Include differential drive encoders ###########
  <include file="$(find gbot)/launch/differential-drive.launch" />

  #### Start camera ###########
  <include file="$(find gbot)/launch/camera.launch" />

</launch>
