<!-- Run the dnn_detect node -->
<launch>
  <!-- namespace for camera input -->
  <arg name="camera" default="/usb_cam"/>
  <arg name="image" default="image_raw"/>
  <arg name="transport" default="compressed"/>

  <param name="tensorflow_models_dir" value="/home/g/tensorflow_models/research"/>
  <node pkg="gbot" name="object_detection"
    type="object_detection.py" output="screen">
  </node>
</launch>
